body,html
{
height:99.5%;
width: 99.5%;
}

#logo
{
	display: block;
	margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
	width:65%	
}

#login
{
position:absolute;
display:block;
width:80%;
left:10%;

}

#loginButton
{
width:50%;
left:25%;
}
